
/*  Friends and Neighbors Profile */

body{
    overflow: scroll;
}

.profileBox{
    height: 282px;
    width: 200px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
}

.boxContent{
    height: 200px;
    border-left: solid 2px #ccc;
    border-right: solid 2px #ccc;
}

.front img{
    height: 200px;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* .item = user name*/
.item{
    height: 40px;
    width: 200px;
    background-color: #e2e2e2;
    padding: 10px 5px 5px 15px;
    border: solid 2px #ccc;
    display: inline-block;
}

.percent{
    font-size: 20px;
    height: 40px;
    background-color: #e2e2e2;
    padding: 10px 5px 5px 15px;
    border: solid 2px #ccc;
}

.match{
    width: 66px;
    height: 20px;
    display: inline;
    background-color: red;
}

.web{
    display: inline;
    float: center;
    padding-left: 50px;
}

.bubble{
    float: right;
    padding-right: 10px;
    display: inline;
}

.2{
    width: 67px;
    height: 20px;
    display: inline;
    background-color: blue;
}

.3{
    width: 66px;
    height: 20px;
    display: inline;
    background-color: green;
}

.fix-margin{
    margin-left: 50px;
    margin-top: 20px;
}

#cube{
    border: solid 2px #ccc;
}

.block{
    line-height: 25px;
}

.category{
    display: inline-block;
    vertical-align: middle;
}

.circle{
    border: solid 1px black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.green{
    background-color: #afe9c6;
}

.purple{
    background-color: #afafe9;
}

