.item {
    width: 285px;
    height: 285px;
    float: left;
    margin: 5px;
    border: solid 2px #ccc;
    overflow:scroll;
}

.postTitle{
    padding: 5px;
    background-color: #e2e2e2;
    border-bottom: solid 2px #ccc;
}

.title{
    font-size: 20pt;
}

.postContent{
    padding: 5px;
}

textarea {
    resize:none;
}

